:root{
    --oracle-blue: #405556;
    --cloudless-sky: #A2DDDC;
    --heather-gray: #999594;
    --grenadine-pink: #D77071;
    --pink-frolic: #FEC3C5;

    --yellow-clouds: #fdf7c2;
    --bright-sky: #84dfd3;
    --waves-light: #3eadbe;
    --waves-medium: #01758c;
    --waves-dark: #05555f;
    --sand-bright-orange: #eeab81;
    --sand-burnt-earth: #9d3c11;
    --sand-red-brown: #541404;
    --sand-dark-brown: #2e1707;

}
