:root{
    --oracle-blue: #405556;
    --cloudless-sky: #A2DDDC;
    --heather-gray: #d2d4dc;
    --grenadine-pink: #D77071;
    --pink-frolic: #fed5d6;
    --brighter-sky: #c3fefc;

    --grey-gradient: #d2d4dc, #bdbec6, #a8a9b0, #93949a, #7e7f8;
}
