/* Custom Styles */

@import url(colors.css);
@import url(fonts.css);

:root{
    --main-background: white;
    --accent-background: #F1DEE6;
}

body {
    font-family: "Urbanist Regular", sans-serif;
    background: var(--main-background);

    .thumbnail {
        max-width: 400px;
        max-height: 250px;
        padding: 50px;
    }

    .mobile-menu{
        font-size: 1.5rem;
    }

    .prose ul > li::before {
        background-color: black;
    }
}





