/* Custom Styles */
@import url(fonts.css);

:root{
    --main-background: white;
    --accent-background: #ABC5A3;
}

body {
    font-family: "Urbanist Regular", sans-serif;
    background: var(--main-background);

    .blog-card img{
        max-width: 450px;
        height: 300px;
    }

    .thumbnail {
        max-width: 400px;
        max-height: 250px;
        padding: 50px;
    }

    .mobile-menu{
        font-size: 1.5rem;
    }

    .prose ul > li::before {
        background-color: black;
    }

    /* logo size */
    .h-8{
        height: 6rem;
    }

    .accent {
        background: var(--accent-background);
        color: white;
    }
}





