<footer class="accent dark:bg-gray-900" style="background-color: #778F00">
    <div class="container flex justify-between md:justify-between gap-4 flex-wrap p-6 mx-auto relative ">
    <span class="text-lg font-light">
        {{ if (isset .Site.Params "copyright") }}
            {{ .Site.Params.copyright | safeHTML }}
        {{ else }}
            {{ dateFormat "2006" now }} © {{ .Site.Title }}
        {{ end }}
    </span>
    <span class="text-lg font-light">
        <a href="/impressum">Impressum</a>
    </span>
    <span class="text-lg font-light">
        <a href="/datenschutz">Datenschutz</a>
    </span>
    <span class="text-lg font-light">
        <a href="/links">Links</a>
    </span>
        <span onclick="window.scrollTo({top: 0, behavior: 'smooth'})" class="p-1 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M18 15l-6 -6l-6 6h12"/>
    </svg>
  </span>
    </div>
</footer>

<script>
    const mobileMenuButton = document.querySelector('.mobile-menu-button')
    const mobileMenu = document.querySelector('.mobile-menu')

    function toggleMenu() {
        mobileMenu.classList.toggle('hidden');
        mobileMenu.classList.toggle('flex');
    }

    if (mobileMenu && mobileMenuButton) {
        mobileMenuButton.addEventListener('click', toggleMenu)
    }
</script>
